.navside {
    background-color:#E7FCFF;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.company-logo {
    margin-left: 20px;
}

.menu-bars {

    margin-left: 5rem;
    font-size: 2rem;
    background: none;
           }

.search {
    margin-left: 8rem;
    border: none;
}

.input-field {
    height: 40px;
    width: 600px;
    border: none;
    padding: 5px 5px;
   
    
}

::placeholder {
    color: lightgray;
    text-align: center;
}

.search1 {
    position: absolute;
    margin-left: 62rem;

}

.notification {
    margin-left: 10rem;
}

.nav-menu {
    background-color: #E7FCFF;
    width:300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 20;
    left: -100%;
    transition: 20ms;
    
}

.nav-menu.active {
  
    left:0;
    transition: 20ms;
    overflow: auto;
 }
  ::-webkit-scrollbar {
      display: none;
  }

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 0px 0px 0px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;

}

.nav-text a:hover {
    background-color: white;
   
}

.nav-menu-items {
    width: 100%;
}

/* .navside-toggle {
    background-color: #E7FCFF;
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: start;
    align-items: center;
} */

span {
    margin-left: 16px;
}
